In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
anime = pd.read_csv("data\myanimelistdata.csv")

In [3]:
anime.head(5)

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0

In [4]:
anime.columns

Index(['MAL_ID', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'],
      dtype='object')

In [5]:
anime['Type'].unique()

array(['TV', 'Movie', 'OVA', 'Special', 'ONA', 'Music', 'Unknown'],
      dtype=object)

In [6]:
df = anime[['Score', 'Genres','Type', 'Episodes','Duration']]

In [7]:
df

,Score,Genres,Type,Episodes,Duration
0,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,24 min. per ep.
1,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,1 hr. 55 min.
2,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,24 min. per ep.
3,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,25 min. per ep.
4,6.98,"Adventure, Fantasy, Shounen, Supernatural",TV,52,23 min. per ep.
...,...,...,...,...,...
17557,Unknown,"Adventure, Mystery, Supernatural",ONA,Unknown,Unknown
17558,Unknown,"Comedy, Horror, Supernatural",TV,Unknown,Unknown
17559,Unknown,"Mystery, Dementia, Horror, Psychological, Supe...",TV,Unknown,Unknown
17560,Unknown,"Adventure, Slice of Life, Comedy",TV,Unknown,Unknown
17561,Unknown,"Action, Fantasy",TV,Unknown,Unknown

In [8]:
df.isnull().sum()

Score       0
Genres      0
Type        0
Episodes    0
Duration    0
dtype: int64

In [9]:
df.replace("Unknown", pd.NA, inplace=True)
df.dropna(inplace=True)

C:\Users\jatin\AppData\Local\Temp\ipykernel_10572\1754265686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace("Unknown", pd.NA, inplace=True)
C:\Users\jatin\AppData\Local\Temp\ipykernel_10572\1754265686.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [10]:
df

,Score,Genres,Type,Episodes,Duration
0,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,24 min. per ep.
1,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,1 hr. 55 min.
2,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,24 min. per ep.
3,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,25 min. per ep.
4,6.98,"Adventure, Fantasy, Shounen, Supernatural",TV,52,23 min. per ep.
...,...,...,...,...,...
17502,6.41,"Sci-Fi, Music, Mecha",Music,1,1 min.
17505,7.52,"Music, Romance",Music,1,4 min.
17512,6.83,"Slice of Life, Comedy",Special,1,10 min.
17513,4.81,"Mystery, Psychological, Supernatural, Thriller...",Special,1,23 min.
17552,6.52,"Comedy, Sports",Special,1,23 min.

In [11]:
df['Type'].unique()

array(['TV', 'Movie', 'OVA', 'Special', 'ONA', 'Music'], dtype=object)

In [12]:
import re

def convert_to_minutes(duration):
    if not duration: 
        return 0
    hours_match = re.search(r"(\d+)\s*hr", duration)
    minutes_match = re.search(r"(\d+)\s*min", duration)
    hours = int(hours_match.group(1)) if hours_match else 0
    minutes = int(minutes_match.group(1)) if minutes_match else 0
    return hours * 60 + minutes

df['Duration_Minutes'] = pd.to_numeric(df['Duration'].apply(convert_to_minutes), errors='coerce')

df['Episodes'] = pd.to_numeric(df['Episodes'], errors='coerce')

# If it's per episode, multiply by the number of episodes for TV shows
df['Total_Duration_Minutes'] = df.apply(
    lambda x: x['Duration_Minutes'] * x['Episodes'] if x['Type'] == 'TV' else x['Duration_Minutes'],
    axis=1
)

C:\Users\jatin\AppData\Local\Temp\ipykernel_10572\2985666921.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration_Minutes'] = pd.to_numeric(df['Duration'].apply(convert_to_minutes), errors='coerce')
C:\Users\jatin\AppData\Local\Temp\ipykernel_10572\2985666921.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Episodes'] = pd.to_numeric(df['Episodes'], errors='coerce')
C:\Users\jatin\AppData\Local\Temp\ipykernel_10572\2985666921.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Duration_Minutes'] = df.apply(

In [13]:
df

,Score,Genres,Type,Episodes,Duration,Duration_Minutes,Total_Duration_Minutes
0,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,24 min. per ep.,24,624
1,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,1 hr. 55 min.,115,115
2,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,24 min. per ep.,24,624
3,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,25 min. per ep.,25,650
4,6.98,"Adventure, Fantasy, Shounen, Supernatural",TV,52,23 min. per ep.,23,1196
...,...,...,...,...,...,...,...
17502,6.41,"Sci-Fi, Music, Mecha",Music,1,1 min.,1,1
17505,7.52,"Music, Romance",Music,1,4 min.,4,4
17512,6.83,"Slice of Life, Comedy",Special,1,10 min.,10,10
17513,4.81,"Mystery, Psychological, Supernatural, Thriller...",Special,1,23 min.,23,23
17552,6.52,"Comedy, Sports",Special,1,23 min.,23,23

In [14]:
df = df[df['Total_Duration_Minutes'] >= 23].reset_index(drop=True)
df = df[df['Duration_Minutes'] >= 10].reset_index(drop=True)

In [15]:
df

,Score,Genres,Type,Episodes,Duration,Duration_Minutes,Total_Duration_Minutes
0,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,24 min. per ep.,24,624
1,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,1 hr. 55 min.,115,115
2,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,24 min. per ep.,24,624
3,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,25 min. per ep.,25,650
4,6.98,"Adventure, Fantasy, Shounen, Supernatural",TV,52,23 min. per ep.,23,1196
...,...,...,...,...,...,...,...
7941,6.54,"Fantasy, Shounen",Special,1,23 min.,23,23
7942,6.05,"Slice of Life, Sports",TV,12,23 min. per ep.,23,276
7943,5.68,Fantasy,Movie,1,30 min.,30,30
7944,4.81,"Mystery, Psychological, Supernatural, Thriller...",Special,1,23 min.,23,23
7945,6.52,"Comedy, Sports",Special,1,23 min.,23,23

In [16]:
df['Type'].unique()

array(['TV', 'Movie', 'OVA', 'Special', 'ONA', 'Music'], dtype=object)

In [17]:
df['Duration_Minutes'].unique()

array([ 24, 115,  25,  23,  27,  22, 104,  87,  82,  30,  91, 124, 105,
        52, 119, 120,  21,  14,  12,  34,  46,  97,  20, 135,  26,  28,
        15, 125,  29,  33,  84,  48,  79,  90,  61, 106, 101,  11,  13,
        55,  81,  62,  37,  42,  93,  74,  50,  80,  45,  99,  98,  95,
        94,  39,  40,  92, 132,  96,  36, 109,  86,  85,  66, 102, 103,
        83,  51,  31, 126, 117,  88, 111,  75,  32,  77,  35, 140,  54,
        16,  67,  44,  72, 100,  60,  65,  49,  43,  59,  71,  41,  70,
        53,  47, 118, 121,  63, 108,  78, 136,  56,  58, 139,  10, 128,
       130, 110, 107,  73,  38,  69, 131,  57, 112,  89, 116, 161, 160,
        68, 113, 141, 153,  64, 152, 150, 163, 122,  76, 114, 123,  19,
       162, 127, 156, 137, 134,  17,  18], dtype=int64)

In [18]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df['Type_Encoded'] = label_encoder.fit_transform(df['Type'])

label_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

In [19]:
df

,Score,Genres,Type,Episodes,Duration,Duration_Minutes,Total_Duration_Minutes,Type_Encoded
0,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,24 min. per ep.,24,624,5
1,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,1 hr. 55 min.,115,115,0
2,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,24 min. per ep.,24,624,5
3,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,25 min. per ep.,25,650,5
4,6.98,"Adventure, Fantasy, Shounen, Supernatural",TV,52,23 min. per ep.,23,1196,5
...,...,...,...,...,...,...,...,...
7941,6.54,"Fantasy, Shounen",Special,1,23 min.,23,23,4
7942,6.05,"Slice of Life, Sports",TV,12,23 min. per ep.,23,276,5
7943,5.68,Fantasy,Movie,1,30 min.,30,30,0
7944,4.81,"Mystery, Psychological, Supernatural, Thriller...",Special,1,23 min.,23,23,4
7945,6.52,"Comedy, Sports",Special,1,23 min.,23,23,4

In [20]:
df = df.join(df['Genres'].str.get_dummies(sep=', '))

In [21]:
df

,Score,Genres,Type,Episodes,Duration,Duration_Minutes,Total_Duration_Minutes,Type_Encoded,Action,Adventure,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,24 min. per ep.,24,624,5,1,1,...,0,0,1,0,0,0,0,0,0,0
1,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,1 hr. 55 min.,115,115,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,24 min. per ep.,24,624,5,1,1,...,0,0,0,0,0,0,0,0,0,0
3,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,25 min. per ep.,25,650,5,1,0,...,0,0,0,0,0,1,0,0,0,0
4,6.98,"Adventure, Fantasy, Shounen, Supernatural",TV,52,23 min. per ep.,23,1196,5,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7941,6.54,"Fantasy, Shounen",Special,1,23 min.,23,23,4,0,0,...,0,0,0,0,0,0,0,0,0,0
7942,6.05,"Slice of Life, Sports",TV,12,23 min. per ep.,23,276,5,0,0,...,0,1,0,1,0,0,0,0,0,0
7943,5.68,Fantasy,Movie,1,30 min.,30,30,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7944,4.81,"Mystery, Psychological, Supernatural, Thriller...",Special,1,23 min.,23,23,4,0,0,...,0,0,0,0,0,1,1,0,0,0
7945,6.52,"Comedy, Sports",Special,1,23 min.,23,23,4,0,0,...,0,0,0,1,0,0,0,0,0,0

In [22]:
df.columns

Index(['Score', 'Genres', 'Type', 'Episodes', 'Duration', 'Duration_Minutes',
       'Total_Duration_Minutes', 'Type_Encoded', 'Action', 'Adventure', 'Cars',
       'Comedy', 'Dementia', 'Demons', 'Drama', 'Ecchi', 'Fantasy', 'Game',
       'Harem', 'Hentai', 'Historical', 'Horror', 'Josei', 'Kids', 'Magic',
       'Martial Arts', 'Mecha', 'Military', 'Music', 'Mystery', 'Parody',
       'Police', 'Psychological', 'Romance', 'Samurai', 'School', 'Sci-Fi',
       'Seinen', 'Shoujo', 'Shoujo Ai', 'Shounen', 'Shounen Ai',
       'Slice of Life', 'Space', 'Sports', 'Super Power', 'Supernatural',
       'Thriller', 'Vampire', 'Yaoi', 'Yuri'],
      dtype='object')

In [23]:
new_df = df[['Score',
       'Total_Duration_Minutes', 'Type_Encoded', 'Action', 'Adventure',
       'Comedy', 'Drama', 'Fantasy', 'Game',
       'Harem', 'Hentai', 'Historical', 'Horror', 'Kids', 'Magic',
       'Martial Arts','Mystery', 'Parody', 'Romance', 'School',
       'Shoujo', 'Shounen','Slice of Life', 'Sports', 'Supernatural',
       'Thriller', 'Vampire','Episodes']]

In [24]:
new_df

,Score,Total_Duration_Minutes,Type_Encoded,Action,Adventure,Comedy,Drama,Fantasy,Game,Harem,...,Romance,School,Shoujo,Shounen,Slice of Life,Sports,Supernatural,Thriller,Vampire,Episodes
0,8.78,624,5,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,26
1,8.39,115,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,8.24,624,5,1,1,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,26
3,7.27,650,5,1,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,26
4,6.98,1196,5,0,1,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7941,6.54,23,4,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
7942,6.05,276,5,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,12
7943,5.68,30,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
7944,4.81,23,4,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,0,1
7945,6.52,23,4,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

X = new_df.iloc[:,:-1]
y = new_df.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R² Score:", r2)

Mean Squared Error: 67.62514364839207
R² Score: 0.9185999900013039

In [26]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))